body {
    max-width: 600px;
    margin: 50px auto;
    padding: 0;
    font-family: "Noto Sans Mono", monospace;
    height: 100vh;
    background: #dc7726 no-repeat center center fixed;
    background-size: 100% 100%;
    background: -webkit-linear-gradient(top, #dc7726, #ecc046);
    background: -moz-linear-gradient(top, #dc7726, #ecc046);
    background: -ms-linear-gradient(top, #dc7726, #ecc046);
    background: -o-linear-gradient(top, #dc7726, #ecc046);
    background: linear-gradient(to bottom, #dc7726, #ecc046);
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    text-transform: capitalize;
    color: #dc7726;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

hr {
    border: 2px solid #ecc046;
    margin: 30px 50px;
}



.whole-app-container {
    display: block;
}

.app-container {
    margin: 15px 10px;
    border: 2px solid #dc7726;
    border-radius: 42px;
    background: #f5f7ed
}

.container-search-weather {
    width: 100%;
    margin: 40px 10px 30px 10px;
    border: #42c0d2;
}

.row {
    margin: 15px 10px;
}

.btn {
    background-color: #42c0d2;
    border: #42c0d2;
    color: #f5f7ed;
}

.container-live {
    width: 100%;
    margin: 40px 10px 30px 10px;
}

.icon-live-weather {
    margin: 0 auto;
    color: #dc7726;
}

.icon-live {
    font-size: 50px;
    margin-right: 10px;
}

.city-searched {
    line-height: 32px;
    font-size: 28px;
}

.date {
    font-size: 20px;
    margin-bottom: 5px;
}

.d-flex {
    padding: 10px 0;
}

.float-left {
    margin-top: 0;
    font-size: 55px;
    color: #dc7726;
}

.weather-description-live {
    font-size: 16px;
}

.temp-number {
    margin-right: 15px;
}
.unites {
    cursor: default;
    color: #dc7726;
}

.unites:hover {
    text-decoration: none;
    color: #dc7726;
}
.unit {
    position: relative;
    top: -30px;
    right: 15px;
    font-size: medium;
    font-weight: bold;
    color: #dc7726;
}

.card-text {
    color: #dc7726;
    text-align: left;
    border: 1px solid #ecc046;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 0 10px 0 0;
}

.max {
    color: #dc7726;
    font-size: 20px;
}

.min {
    color: #42c0d2;
    font-size: 20px;
    padding-bottom: 20px;
}

.container-forecast {
    color: #dc7726;
    text-align: center;
    display: block;
    width: 100%;
}

.sunshine-monday {
    color: #dc7726;
    font-size: 40px;
    border: #dc7726;
    padding: 15px 5px;
}

.forecast-text {
    color: #dc7726;
    padding: 5px;
}

.madebyme {
    text-align: center;
    color: #dc7726;
    width: 90%;
    margin-top: 30px;
    font-size: 16px;
}

.units{
    color: #dc7726;
}


a:link {
    color: #dc7726;
    text-decoration: none;
}

/* a:hover {
    color: #42c0d2;
    cursor: pointer;
} */
